.Title_section{
    margin-bottom:50px;
    margin-top:160px;
}
.Title{
    display: flex; 
    justify-content: center;    
    align-content: flex-end;
}
.Title_section h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    color: #222;
}
.Title_sub{
    display:flex;
    gap:5px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
} 
.Catalog_main{
 display:flex;
 height:100%;
 padding-top: 30px;
}
.Catalog_options{
    margin-top: 10px;
    padding-left:60px;
    flex:1;
}
.Catalog_container{
    right:0;
    flex:3.5;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #ededed;
}
.New_section {
    margin-bottom: 20px;
    margin-top: 5px;
}
.New_container {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.New_card {
    min-width: 500px;
    max-width: 1000px;
    margin-left: 20px;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
    
}
.New_img {
    width: 100%;
    height: 600px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.New_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
}
.New_card .New_subtitle{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 35px;
}
.New_card .New_subtitle2{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 20px;
}
.New_subtitle2 a{
    color: goldenrod;
}
.New_subtitle a{
    color: black;
    text-decoration: none;
}
.New_card .New_price{
    text-align:left;
    color: #555;
}
table {
    width: 100%;
    font-size: 20px;
}

td {
    padding: 10px 0;
    font-weight: normal;
    cursor: pointer;
    
}
td a{
    font-size: 16px;
    color: #555;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    transition: 0.3s;
}
td:hover a{
    transform: translateY(-5px);
    color: goldenrod;
}


.team_section {
    margin-bottom: 30px;
    margin-top: 15px;
}

.team_container {
    display: flex;
    width: 275px;;
    gap:5px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px dashed gray;
    border-radius: 25px;

}
.team_container:hover{
    transform: translateY(-5px);
    color: goldenrod;
    box-shadow: 0px 0px 10px gray;
}

.team_img {
    height: 120px;
    width:110px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}


.team_par {
    margin-left: 10px;
    gap:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team_par .team_title {
    text-align: left;
    font-weight: bold;
}
.team_par .team_subtitle {
    text-align: left;
    color: #555;
    margin-bottom: 30px;
    font-weight: normal;
}
.team_container2 {
    display: flex;
    width:fit-content;
    gap:5px;
    margin-bottom: 40px;
    
}
.team_img2 {
    height: 100px;
    width:100px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
}

.team_img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
}
