.Catagories_section {
    margin-bottom: 40px;
    margin-top: 50px;
}
.Catagories_section h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 28px;
    color: #222;
}
.cata_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.cata_card {
    flex: 4;
    min-width: 300px;
    max-width: 400px;
    height: 460px;
    overflow: hidden;
    margin-bottom: 100px;
    margin: 10px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.cata_card:hover {
    transform: translateY(-5px);
}
.cata_card:hover .cata_subtitle a{
    color: goldenrod;
}

.cata_img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cata_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}

.cata_card .cata_subtitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 21px;
    cursor: pointer;
}
.cata_subtitle a{
    color: black;
}

