.Title_section{
    margin-bottom:10px;
    margin-top:70px;
}
.Title{
    display: flex; 
    justify-content: center;    
    align-content: flex-end;
}
.Title_section h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    color: #222;
}
.Title_sub{
    display:flex;
    gap:5px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
} 
input,textarea {
    border-radius: 5px;
    border: 3px solid gray;
    font-weight: bold;

}
button{
     border-radius: 5px;
    border: 3px solid gray;
    color: rgb(76, 76, 76);
    font-weight: bold;
}