body {
    margin: 0;
    background-color: aliceblue;
    color: #333;
    height:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main {
    flex: 1;
}
  /*Navigation & Placement*/
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow:0 1px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
   
  }
  .nav-left,
  .nav-right {
    display: flex;
  }
  .nav-icon {
    height: 40px;
    width: auto;
    cursor: pointer;
    padding-top: 40px;
    transition: all 0.4s;
  }
  .center-logo {
    height: 70px;
    width: auto;
    cursor: pointer;
    padding-top:110px;
    transition: all 0.5s;
  }
  .nav-icon:hover,.menu:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-5px);
  }
  .menu {
    font-size: 36px;
    color: #000;
    text-decoration: none;
    transition: 0.4s;
    padding-top: 42px;
  }
  
  
  .transparent {
    background-color: transparent ;
    box-shadow: none ;
  }
  /*Navigation Menu*/
  .menudrop {
    white-space: nowrap;
    z-index: 3;
    width: 0px;
    height: 100%;
    position: fixed;
    background-color: #fcfcfc;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    transition: 0.4s;
    padding-top: 60px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .menudrop a {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #555;
    padding: 16px 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menudrop a:hover {
    color: red;
  }
  
  .menudrop .closemenu {
    justify-content: flex-end;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  /*Cart*/
  .cartdrop {
    white-space: nowrap;
    z-index: 3;
    width: 0px;
    height: 100%;
    position: fixed;
    background-color: #fcfcfc;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }

  .cartdrop .closemenu {
    padding: 16px 30px;
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
  }
  .cartdrop .closemenu:hover{
    color:red;
  }
  .cartdrop article {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px 20px;
  }
  .cartdrop img {
    width: 60px;
    height: 60px;
    background: #ddd;
    margin-left: 20px;
  }
  .subtotal {
    margin-left: 30px;
    margin-right:30px;
    display: flex;
    justify-content: space-between;
  }
  
  .cartdrop button {
    width: 90%;
    padding: 12px 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  
  /*Scrolling Changes*/
  .scrolled {
    background-color: rgb(185, 221, 252);
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    transition: all 0.5s;
  }
  nav.scrolled .menu {
    font-size: 36px; 
    padding:0px;
    transition:0.4s;
  }

  nav.scrolled .nav-icon {
    height: 40px;
    padding-top: 0px; 
    transition: 0.4s;
  }
  nav.scrolled .center-logo {
    height: 50px; 
    padding-top: 0px;
    transition:0.4s;
  }
  

  
  