.Title_section{
    margin-bottom:70px;
    margin-top:160px;
}
.Title{
    display: flex; 
    justify-content: center;    
    align-content: flex-end;
}
.Title_section h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 45px;
    color: #222;
}
.Title_sub{
    display:flex;
    gap:5px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
} 

.team_par {
    margin-left: 10px;
    gap:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team_container2 {
    display: flex;
    width:fit-content;
    gap:35px;
    margin-bottom: 40px;
    
}
.team_img2 {
    height: 300px;
    width:300px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.team_img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.team_par .team_title {
    font-weight: bold;
    font-size: 40px;
}
.team_par .team_subtitle {
    text-align: left;
    color: goldenrod;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}
.content-section {
        margin: 100px;
        margin-bottom: 0;
      }
      .content-section .column h3 {
        font-size: 30px;
        color: #222;
      }
      .content-section p {
        font-size: 18px;
        line-height: 1.5;
        margin: 0 40px 30px 40px;
      }
      .content-block {
        margin-bottom: 40px;
      }
      .columns {
        display: flex;
        gap: 20px;
        padding: 0 40px;
        justify-content: space-between;
      }
      .column {
        flex: 1;
        max-width: 45%;
        font-size: 25px;
        line-height: 1.5;
      }
      .column p {
        font-size: 25px;
        margin-left:0px;
        margin-bottom: 10px;
      }