
  .promo{
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .container{
    width: 1000px;
    height: 100%;
  }
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .content {
    flex: 1;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subtitle {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #555;
  }

.title {
    font-size: 72px;
    font-weight: bold;
    color: #b7951b;
    line-height: 1;
    margin-bottom: 40px;
  }

  .shop-button {
    padding: 14px 36px;
    font-size: 18px;
    border: 2px solid #000;
    background-color: transparent;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: fit-content;
  }
  .shop-button:hover {
      transform: translateY(-5px);
      color: goldenrod;
  }
  