.team_section {
    margin-bottom: 90px;
    margin-top: 50px;
}

.team_container {
    display: flex;
    gap: 20px;
    justify-content: left;
    flex-wrap: wrap;
}

.team_section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #222;
}

.team_card {
    flex: 4;
    overflow: hidden;
    margin-left: 50px;
    border-radius: 25px;
}

.team_img {
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}

.team_par {
    flex: 2;
    border-radius: 50px;
    margin-top: 70px;
    margin-right:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team_par .team_title {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}
.team_par .team_subtitle {
    text-align: left;
    color: #555;
    margin-bottom: 30px;
    font-weight: normal;
}

.team_container .explore-button {
    border: 2px solid black;
    padding: 10px 20px;
    width:140px;
    font-weight: bold;
    color: black;
    background-color: transparent;
}
.team_container .explore-button a{
    color:black;
    text-decoration: none;
}
.team_container .explore-button:hover a{
   color:goldenrod
}
