name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Copy files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: EC2_PUBLIC_IP
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          source: "."
          target: "/var/www/html"